services:
  mongo:
    image: mongo
    volumes:
      - mongo_storage:/data/db
    ports:
      - 27017:27017
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mongo_storage:
